.body_bgc {
    background-color: #8dbca9;
}
.page-header {
    background-color: #005100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    font-weight: bolder;
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}
.content {
    margin-left: 40px;
}
h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}
.date {
    float: right;
    color: #006699;
}
.save {
    float: right;
}
.post-form textarea, .post-form input {
    width: 100%;
}
.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}
.post .post-meta{
    //margin-bottom: 70px;
    padding: 0;
    margin: 15px 0 0;
    color: #6E7173;
    float: left;
    display: inline;
    text-indent: .15em;
}
.post h1 a, .post h1 a:visited {
    font-weight: bolder;
    color: #000000;
}
.codeblock .tag {
    background-color: inherit;
    font-family: "Input Mono", "PT Mono", Consolas, Monaco, Menlo, monospace;
    border: none;
    padding: 0;
    margin: 0;
}
