{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <!-- div class="col-md-4"><img src="{% static 'images/wb.jpg' %}" class="img-rounded" alt="Cinque Terre" width="300" height="280">
    </div -->
    <div class="col-md-8">
        <ul class="list-group">
            <li class="list-group-item" style="background-color:#777777;">2015从BUAA毕业，当前北漂于一家外企</li>
            <li class="list-group-item" style="background-color:#888888;">Tags: angularjs bootstrap restful python( flask ) celery rabbitmq apache vim linux, go nginx c/c++ ruby( rails ) redis java, fullstack</li>
            <li class="list-group-item" style="background-color:#777777;">正在做的事情关于openstack docker kubernetes devops</li>
            <li class="list-group-item" style="background-color:#888888;">博客源码大家可以共享,主要是tinymce和markdown:<a href="https://github.com/juandx/myblog" target="_blank">https://github.com/juandx/myblog</a></li>
            <li class="list-group-item" style="background-color:#777777;">以前使用的cnblogs:<a href="http://www.cnblogs.com/juandx/" target="_blank">http://www.cnblogs.com/juandx/</a></li>
            <li class="list-group-item" style="background-color:#888888;">Email:juandx@163.com</li>
        </ul>
    </div>
</div>
{% endblock content %}
