{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="col-md-9">
    <div class="container">
        <div><img src="{% static 'images/wb.jpg' %}" class="img-rounded" alt="Cinque Terre" width="304" height="280"></div>
    </div class="container">
        <ul class="list-group">
            <li class="list-group-item" style="background-color:#999999;">2015从BUAA毕业，当前北漂于一家外企</li>
            <li class="list-group-item" style="background-color:#999999;">喜欢python flask vim angularjs bootstrap , 用过 c/c++ java python( flask django ) ruby( rails ) go, 但是现在努力搞好python和angular, 希望能成为一名优秀的全栈到architect</li>
            <li class="list-group-item" style="background-color:#999999;">正在做的事情关于openstack docker kubernetes devops</li>
            <li class="list-group-item" style="background-color:#999999;">博客是兴趣之余使用django编写,代码放在我的github，大家可以共享<a href="https://github.com/juandx/myblog" target="_blank">https://github.com/juandx/myblog</a></li>
            <li class="list-group-item" style="background-color:#999999;">文章会同步我的cnblog:<a href="http://www.cnblogs.com/juandx/" target="_blank">http://www.cnblogs.com/juandx/</a></li>
            <li class="list-group-item" style="background-color:#999999;">我的邮箱:bjwbin@cn.ibm.com</li>
        </ul>
    </div>
{% endblock content %}
