{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="col-md-4"><img src="{% static 'images/wb.jpg' %}" class="img-rounded" alt="Cinque Terre" width="280" height="248">
    </div>
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item" style="background-color:#999999;">2015从BUAA毕业，当前北漂于一家外企</li>
            <li class="list-group-item" style="background-color:#999999;">正在熟悉 python flask vim angularjs bootstrap go, 了解 c/c++ java ruby( rails )</li>
            <li class="list-group-item" style="background-color:#999999;">正在做的事情关于openstack docker kubernetes devops</li>
            <li class="list-group-item" style="background-color:#999999;">博客源码大家可以共享:<a href="https://github.com/juandx/myblog" target="_blank">https://github.com/juandx/myblog</a></li>
            <li class="list-group-item" style="background-color:#999999;">文章会同步我的cnblogs:<a href="http://www.cnblogs.com/juandx/" target="_blank">http://www.cnblogs.com/juandx/</a></li>
            <li class="list-group-item" style="background-color:#999999;">Email:juandx@163.com</li>
        </ul>
    </div>
</div>
{% endblock content %}
