{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
<!-- script src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'tinymce/js/textareas.js' %}"></script -->
<script src="{% static 'lib/epiceditor/js/epiceditor.min.js' %}"></script>
<div>
    <div class="post">
        <h2><a href="{% url 'post_markdown' %}" target="_blank">{% if is_new %}新建文章{% else %}编辑文章{% endif %}</a></h2>
        <form id="my_form" method="POST" class="post-form">{% csrf_token %}
            <div class="content">
                <button id="tinymce_btn" type="button" class="save btn btn-default">富文本</button>
                <button id="markdown_btn" type="button" class="save btn btn-default" onclick='location.href="{% url 'post_markdown' %}"' target="_blank" style="margin-right: 5px;">markdown</button>
                <button type="button" class="save btn btn-default" onclick="location.href='/'" style="margin-right: 5px;">取消</button>
                <button id="submit_btn" type="submit" class="save btn btn-default" style="margin-right: 5px;">保存</button>
                <div id="epiceditor">
                    <p>{{ form.as_p }}</p>
                </div>
            </div>
        </form>
    </div>
    <!-- p> I don't know why below form in '<div class="content">' is invaild</p -->
    <div>
        <iframe id="form_target" name="form_target" style="display:none"></iframe>
        <form id="my_form" action="{% url 'blog.views.upload' %}" target="form_target" method="post" enctype="multipart/form-data" style="width:0px;height:0;overflow:hidden">{% csrf_token %}
            <input name="image" type="file" onchange="$('#my_form').submit();this.value='';">
        </form>
    </div>
</div>
<script>
    $("#id_is_markdown").hide();
    $("#id_is_markdown").siblings("label").hide();
    $("#id_markdown_text").hide();
    $("#id_markdown_text").siblings("label").hide();
    $("#id_tinymce_text").hide();
    $("#id_tinymce_text").siblings("label").hide();
    $("#id_text").attr("id","my-edit-area");
    var editor = new EpicEditor({basePath: '/static/lib/epiceditor'}).load();
    $("#submit_btn").click(function(){
        //alert($("#my-edit-area").val());
        //alert(editor.getElement('editor').body.innerHTML);
        //$("#my-edit-area").val(editor.getElement('editor').body.innerHTML);
        $("#id_markdown_text").val(editor.getElement('previewer').body.innerHTML);
    });
    $("#tinymce_btn").click(function(){
        $("#id_is_markdown").attr("checked",false);
        $("#my_form").submit();
    });
    //editor.enterFullscreen(function () {});
</script>
{% endblock %}
