{% extends 'blog/base.html' %}
{% block content %}
{% load blog_tags %}
    {% if list_header %}
        <div class="box">{{ list_header }}</div>
    {% endif %}
    {% for post in posts %}
        <div class="post">
            <div>
                <h1><a href="{% url 'blog.views.post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            </div>
            <div class="post_date">
                <p>published: {{ post.published_date }}</p>
            </div>
            <div>
                <p>
                    {% autoescape off %}
                        {% if post.is_markdown %}
                            {{ post.markdown_text|striptags|truncatechars:300 }}
                        {% else %}
                            {{ post.tinymce_text|striptags|truncatechars:300 }}
                        {% endif %}
                    {% endautoescape %}
                </p>
            </div>
        </div>
        <div class="under">
            <span class="categories post_date">category: </span>
            <span>
                <a href="{% url 'blog.views.post_list_by_category' cg=post.category.id %}"
                   rel="category">{{ post.category.name }}
                </a>
            </span>
        </div>
    {% endfor %}
    {% if page %}
        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock content %}
