{% extends 'blog/base.html' %}

{% load staticfiles %}
{% block content %}
<script src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'tinymce/js/textareas.js' %}"></script>
    <div class="post">
        <h2>{% if is_new %}新建文章{% else %}编辑文章{% endif %}</h2>
        <form method="POST" class="post-form">{% csrf_token %}
            <div class="content">
                <p>{{ form.as_p }}</p>
                <button type="button" class="save btn btn-default" onclick="location.href='/'">取消</button>
                <button type="submit" class="save btn btn-default" style="margin-right: 5px;">保存</button>
            </div>
        </form>
    </div>
    <!-- p> I don't know why below form in '<div class="content">' is invaild</p -->
    <div>
        <iframe id="form_target" name="form_target" style="display:none"></iframe>
        <form id="my_form" action="{% url 'blog.views.upload' %}" target="form_target" method="post" enctype="multipart/form-data" style="width:0px;height:0;overflow:hidden">{% csrf_token %}
            <input name="image" type="file" onchange="$('#my_form').submit();this.value='';">
        </form>
    </div>
{% endblock %}
