{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
        <div class="post">
            <p class="date">created: {{ post.created_date|date:'d-m-Y' }}</p>
            <h1><a href="{% url 'blog.views.post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p></p>
            <p>
                {% autoescape off %}
                {% if post.is_markdown %}
                    {{ post.markdown_text|striptags|truncatechars:100 }}
                {% else %}
                    {{ post.tinymce_text|striptags|truncatechars:100 }}
                {% endif %}
                {% endautoescape %}
            </p>
        </div>
    {% endfor %}
{% endblock %}
