{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block content %}
    <div class="post">
        <h1><a href="{% url 'blog.views.post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
    </div>
    <div class="post-meta">
        {% if post.published_date %}
            <span class="post_date">
                {{ post.published_date }}
            </span>
        {% else %}
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'blog.views.post_publish' pk=post.pk %}">Publish</a>
            {% endif %}
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <div class="under">
            <span class="categories post_date">category: </span>
            <span>
                <a href="{% url 'blog.views.post_list_by_category' cg=post.category.name %}"
                   rel="category">{{ post.category.name }}
                </a>
            </span>
        </div>
        <div>
            <h4>转载请注明出处:&nbsp<a href="{% url 'blog.views.post_detail' pk=post.pk %}" target="_blank">转载自Bin's Blog:&nbsp http://www.wenbin.cf{% url 'blog.views.post_detail' pk=post.pk %}</a></h4>
        </div>
        </br>
    </div>
    <div class="post_detail">
        <p>
            {% autoescape off %}
                {% if post.is_markdown %}
                        {{ post.markdown_text }}
                {% else %}
                    {{ post.tinymce_text }}
                {% endif %}
            {% endautoescape %}
        </p>
    </div>
{% endblock %}
